# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/4.3.1/
.idea
target/TabooLib-3.832-shaded.jar
target/TabooLib-3.832.jar
target/classes/JavaShells/
target/classes/Language/
target/classes/Language2/
target/classes/TLM/
target/classes/config.yml
target/classes/internalLang.yml
target/classes/items.yml
target/classes/lang/
target/classes/module.yml
target/classes/plugin.yml
target/generated-sources/
target/maven-archiver/
target/maven-status/
target/original-TabooLib-3.832.jar
